.header {
  height: 10vh;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
  align-items: center;
  display: flex;

  &__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
  }

  &__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
  }

  &__searchIcon {
    padding: 5px;
    height: 22px;
    background-color: #cd9042;
  }
}
